{% extends "base.html" %}

{% load static %}

{% block title %}Articles{% endblock title %}

{% block content %}
<div>
  <h1>Articles</h1>

  <p class="mb-4">
    This is a collection of articles that can be written by registered users. Feel free to leave a post and give your thoughts about veganism.
  </p>

  <p class="mb-4">
    If you have any questions or comments, please feel free to contact us.
  </p>

  <p class="mb-4">
    Thank you for visiting.
  </p>

  <a href="{% url "articles:create" %}"
    hx-trigger="click"
    hx-target="#content-container-2"
    hx-swap="innerHTML"
    class="px-5 py-2 bg-blue-500 text-white rounded hover:bg-blue-600"
  >Add Article</a>

  <div hx-boost="true" class="mt-4">
    {% for article in articles %}
      {% if article.title %}
        <div class="mb-2">
          <a href='{{ article.get_absolute_url }}'
            hx-get='{{ article.get_absolute_url }}'
            hx-trigger="click"
            hx-target="#content-container-1"
            hx-swap="innerHTML"
            class="text-blue-500 hover:text-blue-600"
          >{{ article.title }}</a>
        </div>
      {% endif %}
    {% endfor %} 
  </div>
</div>


{% endblock content %}