{% comment %} {% extends "base.html" %} {% endcomment %}

{% block content %}

<h1 class="font-extrabold text-2xl py-2 px-4">Articles Page</h1>
<p class="py-2 px-4">Welcome to 100% Vegan. Here is a collection of articles that can be written by registered users.</p>

<p class="py-2 px-4">Feel free to leave a post and give your thoughts about veganism.</p>

<p class="py-2 px-4">If you have any questions or comments, please feel free to contact us.</p>

<p class="py-2 px-4">Thank you for visiting.</p>

<div class="text-blue-500 px-8">
  {% for article in articles %}
    {% if article.title %}
      <a href='{{ article.get_absolute_url }}'
        hx-get="{{ article.get_absolute_url }}"
        hx-trigger="click"
        hx-target="#content-container-1"
        hx-swap="innerHTML"
      >
        <div class="px-2 py-1 underline text-blue-400 decoration-sky-600 hover:decoration-blue-400">{{ article.title }}</div>
      </a>
    {% endif %} 
  {% endfor %} 
</div>

{% endblock content %}