{% comment %} {% extends "base.html" %} {% endcomment %}

{% block content %}
  <div hx-boost="true">
    <h1 class="font-extrabold text-2xl py-2 px-4">About Us</h1>

    <p class="py-2 px-4">We are a team of passionate vegans who believe that adopting a vegan lifestyle is the best thing you can do for your health, the environment, and animals. Our goal is to provide you with all the information you need to make the transition to a vegan lifestyle easy and enjoyable.</p>

    <p class="py-2 px-4">We have created this website to share our knowledge and experience with the world. Whether you are new to veganism or have been living a vegan lifestyle for years, you will find something useful on our website.</p>

    <p class="py-2 px-4">Thank you for visiting our website. We hope that you find it helpful and informative. If you have any questions or comments, please feel free to contact us.</p>
  </div>
{% endblock content %}