{% comment %} {% extends "base.html" %} {% endcomment %}

{% block content %}

<h1 class="font-extrabold text-2xl py-2 px-1">Vegan Recipes.</h1>

  <p class="py-2 px-1">This is a collection of vegan recipes that I have tried and tested. I hope you enjoy them as much as I do.</p>

  <p class="py-2 px-1">If you have any questions or comments, please feel free to contact me.</p>

  <p class="py-2 px-1">If you have any recipes that you would like to share, please feel free to add them to the site.</p>

  <p class="py-2 px-1">Thank you for visiting.</p>
<a href='{% url "recipes:create" %}'
    hx-get="{{ x.get_absolute_url }}"
    hx-trigger="click"
    hx-target="#articles"
    hx-swap="innerHTML"
    class="px-5 py-2 underline text-blue-400 decoration-sky-600 hover:decoration-blue-400"
>Add Recipe</a>


  {% comment %}

  object_list is the context in the recipes/views.py
  This is an important variable to match when displaying the object and data.

  {% endcomment %}
  <div class="px-5 py-2 underline text-blue-400 decoration-sky-600 hover:decoration-blue-400">
  {% for x in object_list %}
    <div><a href=""
    hx-get="{{ x.get_absolute_url }}"
    hx-trigger="click"
    hx-target="#articles"
    hx-swap="innerHTML"
      >{{x.name}}</a></div>
  {% endfor %} 
  </div>

  {% comment %} Div to display Recipe Details {% endcomment %}

{% endblock content %}